#title-bar {
  background: var(--title-bar-background-color);

  width: 100%;
  height: var(--title-bar-height);
  display: flex;
  border-bottom: var(--title-bar-border-bottom-height) solid
    rgba(255, 255, 255, 0.1);
}
#buttons-wrapper .button {
  -webkit-app-region: no-drag;
  vertical-align: middle;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}
#buttons-wrapper select {
  width: 160px;
}
#buttons-wrapper select,
#buttons-wrapper option {
  background: var(--main-background-color);
  color: var(--body-font-color);
}
#theme-button {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
