#left-menu {
  padding-left: 4px;
  margin-top: 4px;
  padding-right: 4px;
  border-right: 1px solid var(--tab-button-hover-color);
}

#left-menu .brand img {
  width: 116px;
}
html.light-theme #left-menu .brand img.dark {
  display: none;
}
html:not(.light-theme) #left-menu .brand img.light {
  display: none;
}

#left-menu ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 20px;
}

#left-menu button {
  width: var(--sidebar-width);
  border: none;
  background-color: var(--main-background-color);
  color: var(--body-font-color);
  text-align: left;
}

#left-menu button:hover {
  cursor: pointer;
  background-color: var(--tab-button-hover-color);
}

#left-menu button:focus {
  outline: 1px solid var(--tab-button-active-color);
}
